body{
    font-family: 'Varela Round', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5px;
    padding-left: 2px;
}
.half-width img{
    width: 100%;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
.h2{
    font-size: 40px;
}
.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h4{
    color: orange;
}
.box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 400px;
    padding-left: 20px;
    margin-left: 20px;
}
.experience-section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#left-box{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#right-box{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,rgb(74, 201, 233), rgb(27, 2, 136));
    border-image-slice: 1;
}
footer{
    text-align: center;
}
